# Data Indexing and Selection

We'll look at similar means of accessing and modifying values in Pandas `Series` and `DataFrame` objects. If you have used the NumPy patterns, the corresponding patterns in Pandas will feel very familiar, though there are a few quirks to be aware of.

## Data Selection in Series

As we saw in the previous section, a `Series` object acts in many ways like one-dimensional NumPy array, and in many ways like a standard Python dictionary. If we keep these two overlapping analogies in mind, it will help us to understand the patterns of data indexing and selection in these arrays.

### Series as dictionary

Like a dictionary, the `Series` object provides a mapping form a collection of keys to a collection of values:

In [2]:
import pandas as pd

data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])

data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [3]:
data['b']

0.5

In [4]:
'a' in data

True

In [8]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

`Series` objects can even be modified with a dictionary-like syntax. Just as you can extend a dictionary by assigning to a new key, you can extend a `Series` by assigning to a new index value:

In [12]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

This easy mutability of the objects is a convenient feature: under the hood, Pandas is making decision about memory layout and data copying that might need to take place; the user generally does not need to worry about these issues.

### Series as one-dimensional array

A `Series` builds on this dictionary-like interface and provides array-style item selection via the same basic mechanisms as NumPy arrays - that is, *slices*, *masking*, and *fancy indexing*. Examples of these are as follows:

In [13]:
# slicing by explicit index

data['a': 'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [14]:
# slicing by implicit integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

In [17]:
# masking 
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [18]:
# fancy indexing
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

In [20]:
data[[0, 4]]

a    0.25
e    1.25
dtype: float64

Among these, slicing may be the source of the most confusion. Notice that when slicing with an explicit index(ie., `data['a',:'c']`), the fina lindex is *included* in the slice, while when slicing with an implicit index(i.e `data[0:2]`), the final index is *excluded* from the slice.

### Indexers: loc, iloc, and ix 
These slicing and indexing conventiosn can be a source of confusion. For example, if you `Series` has an explicit integer index, and indexing operation such as `data[1]` will use the explicit indices, while a slicing operation like `data[1:3]` will use the implicit Python-style index.

In [21]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [22]:
# explicit index when indexing
data[1]

'a'

In [24]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

Because of this potential confusion in the case of integer indexes, Pandas provides some special *indexer* attributes that explicity expose certain indexing schemes. These are not functional methods, but attributes that expose a particular slicing interface otthe data in the `Series`.

First, the `loc` attribute allows indexing and slicing that always references the explicit index:

In [30]:
# Explicit indexing
data.loc[1:2]

1    a
dtype: object

In [29]:
# Implicit indexing
data[1:2]

3    b
dtype: object

The `iloc` attribute allows indexing and slicing that always references the implicit Python-style index( 0 as the first item and so)

In [32]:
data.iloc[1]

'b'

In [37]:
data[1:2]

3    b
dtype: object

In [38]:
# implicit indexing
data.iloc[1:3]

3    b
5    c
dtype: object

In [40]:
# explicit indexing
data.loc[1:3]

1    a
3    b
dtype: object

A third indexing attribute, `ix`, is a hybrid of the two, and for `Series` objects is equivalent to standard `[]` base indexing. The purpose of the `ix` indexer will become more apparent in the context of `DataFrame` objects, which we will discuss in a moment.

One guiding principle of Python code is that "explicit is better that implicit." The explicit nature of `loc` and `iloc` make them very useful in maintaining clean and readable code; especially in the case of integer indexes, I recommend using these both to make code easier to rad and understand, and to prevent subtle bugs due to the mixed indexing/slicing convention.

## Data Selection in DataFrame
Recall that a `DataFrame` acts in many ways like a two-dimensional or structured array, and in other ways like a dictionary of `Series` structures sharing the same index. These analogies can be helpful to keep in midn as we explore data selection within this structure.

### DataFrame as a dictionary

The first analogy we will consider is the `DataFrame` as a dictionary of related `Series` objects. Let's return to our example of areas and populations of states:

In [42]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995,
                  })

pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135,
                 })

data = pd.DataFrame({'area': area, 'pop': pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

The individual `Series` that make up the columns of the `DataFrame` can be accessed via dictionary-style indexing of the column name:

In [43]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Equivalently, we can use attribute-style access with column names that are strings:

In [44]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

This attribute-style column access actually accesses the exact same object as the dicitonary-style access:

In [47]:
data.area is data['area']

True

In particular, you should avoid the temptation to try column assignment via attribute(i.e, use `data['pop'] = z rather than `data.pop = z `).

Like with the `Series` objects discussed earlier, this dictionary-style syntax can also be used to modify the object, in this case adding a new column:

In [49]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

This shows a preview of the straightforward syntax of element-by-element arithmetic between `Series` objects; we'll dig into this further.

### DataFrame as two-dimensional array

As mentioned previously, we can also view the `DataFrame` as an enhanced two-dimensional array. We can examine the raw underlying data array using the `values` attribute:

In [50]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

With this picture in mind, many familiar array-like observations can be done on the `DataFrame` itself. For example

In [51]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

When it comes to indexing of `DataFrame` objects, however, it is clear that he dictionary-style indexing of columns precludes our ability to simply trat it as a NumPy array. In particular, passing a single index to an array accesses a row:

In [58]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

and passing a single "index" to a `DataFrame` accesses a column:

In [59]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Thus for array-style indexing, we need another convention. Here Pandas again uses the `loc`, `iloc`, and `ix` indexers mentioned earliear. Using the `iloc` indexer, we can index the underlying array as if it is a simple NumPy arra(using the implicit Python-style index), but the `DataFrame` index and column labels are maintained in the result:

In [60]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

Similarly, using the `loc` indexer we can index the underlying data in array-like style but using the explicit index and column names:

In [61]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

The `ix` indexer allows a hybrid of these two approaches:

In [65]:
data.ix[:3, :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [67]:
data.ix[:'New York', :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

Keep in mind that for integer indices, the `ix` indexer is subject to the same potential sources of confusion as discussed for integer-indexed `Series` objects.

Any of the familiar NumPy-style data access pattners can be used within these indexers. For example, in the `loc` indexer we can combine masking and fancy indexing as in the following:

In [78]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

Any of these indexingconventions may also be used to set or modify values: this is done in the standard way that you might be accustomed to from working with NumPy:

In [81]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

to build up your fluency in Pandas data manipulation, I suggest spending some time with a simple `DataFrame` and exploring the ypes of indexing, slicing, masking, and fancy indexing that are allowed by these various indexin approaches.

### Additional indexing conventions
There are a couple extra indexing conventiosn that might seem at odds with the preceding discussion, but neverthless can be very useful in practice. First, while *indexing* refers to columns, *slicing* refers to rows:

In [82]:
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

Such slices can also refer to rows by number rahter than by index:

In [83]:
data[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

Similarly, direct masking operations are also interpreted row-wise rather than column-wise:

In [84]:
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121

These two conventiosn are syntactically similar to those on a NumPy array, and while these may not precisely fit the mold of the Pandas conventions, they are nevertheless quite useful in practice.