# Operating on Data in Pandas

One of the essential pieces of NumPy is the ability to perform quick element-wise operations, both with basic arithmetic(addition, subtraction, multiplication, etc.) and with more sophisticated operations (trigonometric functions, exponential and logarithmic functions, etc.). Pandas inherits much ofthis functionality from NumPy, and the ufuncs that we introduced are the key to this.

Pandas includes a couple useful twists, however: for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output, and for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc. This means that keeping the context of data and combining data from different sources-both potentially error-prone tasks with raw NumPy arrays-become essentially foolproof ones with Pandas. We will additionally see that there are well-defined operations between one-dimensional `Series` structures and two-diemnsional `DataFrame` structures.

## Ufuncs: Index Preservation

Becasue Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas `Series` and `DataFrame` objects. Let's start by defining a simple `Series` and `DataFrame` on which to demosntrate this:

In [2]:
import pandas as pd
import numpy as np

In [3]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

0    6
1    3
2    7
3    4
dtype: int32

In [8]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)), columns=['A', 
 'B', 'C', 'D'])
df

   A  B  C  D
0  1  7  5  1
1  4  0  9  5
2  8  0  9  2

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object *with the indices preserved*:

In [9]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

Or, for a slightly more complex calculation:

In [10]:
np.sin(df * np.pi / 4)

              A         B         C         D
0  7.071068e-01 -0.707107 -0.707107  0.707107
1  1.224647e-16  0.000000  0.707107 -0.707107
2 -2.449294e-16  0.000000  0.707107  1.000000

## UFuncs: Index Alignment

For binary operations on two `Series` or `DataFrame` objects, Pandas will align indices in the process of performingth eoperation. This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### Index alignment in Series:
As an example, suppose we are combinig two different data sources, and find only the top three US states by *area* and the top three US states by *population*:

In [23]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662, 'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193, 'New York': 19661127}, name='population')

Let's see what happens when we divide these to compute the population density:

In [28]:
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined suing standard Python set arithmetic on these indices:

In [29]:
area.index | population.index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

Any item for which one or the other does not have an entry is marked with `NaN`, or "Not a Number", which is how Pandas marks missing data. this index matching is implemented this way for any of Python's ubilt-in arithmetic expressions; any missing values are filled in with NaN by default:

In [30]:
A = pd.Series([2, 4 ,6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2 ,3])

A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

If using NaN values is not the desired behavior, the fil lvalue can be modified using appropriate object methods in place of the operators. For exmaple, calling `A.add(B)` is equivalent to callin `A + B`, but allows optional explicit specification of the fill value for any elements in `A` or `B` that might be missing

In [31]:
A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

### Index alignment in DataFrame
A similar type of alignment takes place for *both* columns and indices when performing operations on `DataFrame`s:

In [55]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)), columns=list('AB'))
A

    A   B
0   6  12
1  14  10

In [56]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)), columns=list("BAC"))
B

   B  A  C
0  3  6  2
1  5  1  9
2  8  4  5

In [46]:
A + B

      A     B   C
0  27.0  14.0 NaN
1  14.0   8.0 NaN
2   NaN   NaN NaN

Notice that indices are aligned correctly irrespective of their order in the two objects, and indices in the result are sorted. As was the case with `Series`, we can use the associated object's arithmetic method and pass any desired `fill_value` to be used in place of missing entries. Here we'll fill with the mean of all values in `A` (computed by first stacking the rows of `A`):

In [90]:
fill = A.stack().mean()
A.add(B, fill_value=fill)

      A     B     C
0  12.0  15.0  12.5
1  15.0  15.0  19.5
2  14.5  18.5  15.5

The following table lists Python operators and their equivalent Pandas object methods:

```
Python Operator 	Pandas Method(s)
+ 	add()
- 	sub(), subtract()
* 	mul(), multiply()
/ 	truediv(), div(), divide()
// 	floordiv()
% 	mod()
** 	pow()

```

## Ufuncs: Operations Between DataFrame and Series

When performing operations between a `DataFrame` and a `Series`, the index and column alignment is similarly maintained. Operations between a `DataFrame` and a `Series` are similar to operations between a two-dimensional and one-dimensional NumPy array. Consider one common operation, where we find the difference of a two-dimesional array and one of its rows:

In [94]:
A = rng.randint(10, size=(3, 4))
A

array([[3, 0, 0, 9],
       [3, 6, 1, 2],
       [0, 4, 0, 7]])

In [97]:
A - A[0]

array([[ 0,  0,  0,  0],
       [ 0,  6,  1, -7],
       [-3,  4,  0, -2]])

According to NumPy's broadcasting rules, substraction between a two-dimensional array and one of its rows is applied row-wise.
In Pandas, the convention similary operates row-wise by default:

In [103]:
df = pd.DataFrame(A, columns=list('QRST'))
df - df.iloc[0]

   Q  R  S  T
0  0  0  0  0
1  0  6  1 -7
2 -3  4  0 -2

If you would instead like to operate column-wise, you can use the object methods mentioned earlier, while specifying the `axis` keyword:

In [104]:
df.subtract(df['R'], axis=0)

   Q  R  S  T
0  3  0  0  9
1 -3  0 -5 -4
2 -4  0 -4  3

Note that hese `DataFrame`/`Series` operations, like the operations discussed above, will automatically align indices between the two elements:

In [108]:
halfrow = df.iloc[0,::2]
halfrow

Q    3
S    0
Name: 0, dtype: int32

In [110]:
df - halfrow

     Q   R    S   T
0  0.0 NaN  0.0 NaN
1  0.0 NaN  1.0 NaN
2 -3.0 NaN  0.0 NaN